<div>
  <span class="title-container"><span class="title"></span><span class="required">*</span></span><span class="date-display-container"><span class="date-display"></span><i class="fa fa-calendar"></i></span>
  <div class="popover hidden" tabindex="-1">
    <div class="popover-header">
      <div class="popover-last-month"><i class="fa fa-arrow-left"></i></div>
      <div class="popover-current-month"></div>
      <div class="popover-next-month"><i class="fa fa-arrow-right"></i></div>
    </div>
    <div class="popover-body">
      <div class="popover-day-header">
        <div class="popover-date">Mon</div>
        <div class="popover-date">Tue</div>
        <div class="popover-date">Wed</div>
        <div class="popover-date">Thu</div>
        <div class="popover-date">Fri</div>
        <div class="popover-date">Sat</div>
        <div class="popover-date">Sun</div>
      </div>
      <div class="popover-date-container"></div>
    </div>
    <hr class="separator" />
    <div class="popover-time-picker">
      <div>
        <div class="time-container time-container-hour">
          <div class="increase"><i class="fa fa-arrow-up"></i></div>
          <div class="time-display"></div>
          <div class="decrease"><i class="fa fa-arrow-down"></i></div>
        </div>
        <div class="time-container time-container-minutes">
          <div class="increase"><i class="fa fa-arrow-up"></i></div>
          <div class="time-display"></div>
          <div class="decrease"><i class="fa fa-arrow-down"></i></div>
        </div>
        <div class="time-container time-container-seconds">
          <div class="increase"><i class="fa fa-arrow-up"></i></div>
          <div class="time-display"></div>
          <div class="decrease"><i class="fa fa-arrow-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
