:root {
  --bg--dark: #00002B;
  --bg--light: #3A83A6;

  --text: #FFF;
  --text--faded: #BBB;
  --text--required: #F00;

  --bg-border: #00F;
  --bg-border--faded: #008;

  --data-color: #1EA1A8;
  --error-color: #9D0000;    

  --amount-positive: #00BF00;
  --amount-negative: #DF3939;

  --text-outline: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

  /* modals */
  --modal--bg--dark: var(--bg--dark);
  --modal--bg--light: var(--bg--light);
  --modal--fg: var(--text);
  
  /* templates::button */
  --button--bg-default: #373737;
  --button--fg-default: #CACACA;
  --button--bg-default--hovered: #535353;
  --button--fg-default--hovered: var(--button--fg-default);

  --button--bg-info: #00006F;
  --button--fg-info: #1EA1A8;
  --button--bg-info--hovered: #0000A8;
  --button--fg-info--hovered: var(--button--fg-info);

  --button--bg-ok: #006F00;
  --button--fg-ok: #0F0;
  --button--bg-ok--hovered: #00A800;
  --button--fg-ok--hovered: var(--button--fg-ok);

  --button--bg-cancel: #6F0000;
  --button--fg-cancel: #F00;
  --button--bg-cancel--hovered: #A80000;
  --button--fg-cancel--hovered: var(--button--fg-cancel);

  --button--disabled-overlay-color: rgba(0, 0, 0, 0.5);

  /* templates::input */
  --input--title-bg: var(--bg--dark);
  --input--field-bg: var(--bg--light);
  --input--field-bg--light: #5D8DA4;
  --input--field-bg--faded: #297FA8;
  --input--border: var(--bg-border);
  --input--border--selected: #F00;
  --input--text: var(--text);

  /* templates::table */
  --table--row-header: var(--bg--dark);
  --table--row-odd:    var(--input--field-bg--light);
  --table--row-even:   var(--input--field-bg--faded);
  --table--border:     var(--bg-border);
}
