span{{ID}}.button-container.disabled {
  cursor: not-allowed;
}

button.button {
  background-color: var(--button--bg-default, var(--missing-color-color));
  color: var(--button--fg-default, var(--missing-color-color));
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}

button.button:hover {
  background-color: var(--button--bg-default--hovered, var(--missing-color-color));
  color: var(--button--fg-default--hovered, var(--missing-color-color));
}

span{{ID}}.button-container.disabled > button.button {
  pointer-events: none;
}

button.button.button-info {
  background-color: var(--button--bg-info, var(--missing-color-color));
  color: var(--button--fg-info, var(--missing-color-color));
}
button.button.button-info:hover {
  background-color: var(--button--bg-info--hovered, var(--missing-color-color));
  color: var(--button--fg-info--hovered, var(--missing-color-color));
}

button.button.button-ok {
  background-color: var(--button--bg-ok, var(--missing-color-color));
  color: var(--button--fg-ok, var(--missing-color-color));
}
button.button.button-ok:hover {
  background-color: var(--button--bg-ok--hovered, var(--missing-color-color));
  color: var(--button--fg-ok--hovered, var(--missing-color-color));
}

button.button.button-cancel {
  background-color: var(--button--bg-cancel, var(--missing-color-color));
  color: var(--button--fg-cancel, var(--missing-color-color));
}
button.button.button-cancel:hover {
  background-color: var(--button--bg-cancel--hovered, var(--missing-color-color));
  color: var(--button--fg-cancel--hovered, var(--missing-color-color));
}

span{{ID}}.button-container.disabled > button.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button--disabled-overlay-color, var(--missing-color-color));
}

span{{ID}}.button-container > button.button,
span{{ID}}.button-container.disabled > button.button:before {
  border-radius: 4px;
}
