html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg--dark, var(--missing-color-color));
  display: flex;
  height: fit-content;
  width: fit-content;
}
body > div:nth-child(1),
body > div:nth-child(3) {
  flex-grow: 1;
}
body > div:nth-child(2) {
  flex-grow: 2;
}

hr.separator {
  color: var(--bg-border, var(--missing-color-color));
}
hr.separator.faded {
  color: var(--bg-border--faded, var(--missing-color-color));
}

.hidden {
  display: none !important;
}

.disabled {
  cursor: not-allowed !important;
  user-select: none;
}

#central-container {
  background-color: var(--bg--light, var(--missing-color-color));
  border: 3px solid var(--bg-border, var(--missing-color-color));
}

#central-container hr.separator {
  width: 97%;
}

.center-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mt-5 { margin-top: 5px; }
.text-outline { text-shadow: var(--text-outline); }
