<!-- TODO: DELETEME -->
{% extends "index.html" %}

{% block title %}DEBUG - Spending Tracker{% endblock %}

{% block include %}
<link rel="stylesheet" type="text/css" href="/static/routes/debug/index.css" />
<script src="/static/routes/debug/index.js"></script>

<script src="/static/templates/button/class.js"></script>
{% endblock %}

{% block content %}
<div id="left-container"></div>
<div id="central-container">
  <clear-db-btn></clear-db-btn>
  <div>
    <input id="select-all-query">
    <select-all-btn></select-all-btn>
  </div>
  <div>
    <input id="insert-query">
    <insert-btn></insert-btn>
  </div>
  <div>
    <input id="update-query">
    <update-btn></update-btn>
  </div>
  <div>
    <input id="delete-query">
    <delete-btn></delete-btn>
  </div>
</div>
<div id="right-container"></div>
{% endblock %}
