<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- START: Theme -->
    <link rel="stylesheet" type="text/css" href="/static/themes/_default.css" />
    <link rel="stylesheet" type="text/css" href="/static/themes/{{theme}}.css" />
    <!-- END: Theme -->

    <!-- START: index -->
    <link rel="stylesheet" type="text/css" href="/static/routes/index.css" />
    <script src="/static/routes/backend.js"></script>
    <script src="/static/routes/helpers.js"></script>
    <link id="page-icon" rel="shortcut icon" href="/static/images/favicon.ico" />

    <script src="/static/templates/core.js"></script>
    <script src="/static/modals/core.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/modals/core.css" />
    <!-- END: index -->

    {% block include %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="modal-container"></div>
  </body>
</html>
