{% extends "index.html" %}

{% block title %}Items - Spending Tracker{% endblock %}

{% block include %}
<!-- START: Icons -->
<link rel="stylesheet" type="text/css" href="/static/images/fontawesome/css/fontawesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/images/fontawesome/css/solid.min.css" />
<script src="/static/images/icons.js"></script>
<!-- END: Icons -->

<!-- START: Backend models -->
<script src="/static/backend-models/item-type.js"></script>
<script src="/static/backend-models/budget.js"></script>
<script src="/static/backend-models/budget-instance.js"></script>
<!-- END: Backend models -->

<!-- START: Templates -->
<script src="/static/templates/loading/class.js"></script>
<script src="/static/templates/button/class.js"></script>
<script src="/static/templates/input/class.js"></script>
<script src="/static/templates/errors/class.js"></script>
<script src="/static/templates/textarea/class.js"></script>
<script src="/static/templates/table/class.js"></script>
<script src="/static/templates/select/base.js"></script>
<script src="/static/templates/select/one/class.js"></script>
<!-- END: Templates -->

<!-- START: Modals -->
<script src="/static/routes/item-types/modals/new-item-type/class.js"></script>
<!-- END: Modals -->

<script src="/static/routes/base-local.js"></script>
<link rel="stylesheet" type="text/css" href="/static/routes/item-types/index.css" />
<script src="/static/routes/item-types/index.js"></script>
<link rel="stylesheet" type="text/css" href="/static/routes/menu.css" />
<script src="/static/routes/menu.js"></script>
<script src="/static/routes/budgets.js"></script>
<link rel="stylesheet" type="text/css" href="/static/routes/budgets.css" />
{% endblock %}

{% block content %}
<div id="left-container">
  <div id="menu-container">{% include "injectable/menu.html" %}</div>
</div>
<div id="central-container">
  <div class="center-content mt-5"><add-new-item-btn></add-new-item-btn></div>
  <hr class="separator" />
  <errors></errors>
  <div id="item-container"></div>
</div>
<div id="right-container">
  {% include "injectable/budgets.html" %}
</div>
{% endblock %}
