<div>
  <span class="title-container"><span class="title"></span><span class="required">*</span></span><span class="color-display-container"><span class="color-display"></span></span>
  <div class="popover hidden" tabindex="-1">
    <div class="slider-container">
      <div class="slider slider-h"><span class="slider-selector"></span></div>
      <slider-value-h></slider-value-h>
    </div>
    <div class="slider-container">
      <div class="slider slider-s"><span class="slider-selector"></span></div>
      <slider-value-s></slider-value-s>
    </div>
    <div class="slider-container">
      <div class="slider slider-l"><span class="slider-selector"></span></div>
      <slider-value-l></slider-value-l>
    </div>
  </div>
</div>
