#modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  overflow-y: auto;
}

.modal {
  position: absolute;
  background-color: var(--modal--bg--dark, var(--missing-color-color));
  border-radius: 10px;
  top: 50%;
  left: 50%;
  color: var(--modal--fg, var(--missing-color-color));
  max-width: 50vw;
}

.loading-modal-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal-title {
  text-align: center;
  font-weight: bold;
  margin: 10px;
  border-bottom: 1px solid var(--modal--fg, var(--missing-color-color));
}

.modal-row {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-row.modal-button-row {
  display: flex;
  justify-content: space-around;
}

.modal-row.modal-button-row.modal-button-row-right {
  justify-content: end;
}

.modal-row.modal-button-row.modal-button-row-right > * {
  margin-left: 5px;
}

.modal-row.modal-multi-row {
  display: flex;
}
.modal-row.modal-multi-row > * {
  flex-grow: 1;
  width: 100%;
}

.modal hr.separator {
  width: 95%;
}
