{{ID}} {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: var(--input--field-bg, var(--missing-color-color));
  color: var(--input--text, var(--missing-color-color));
  padding: 5px;
  outline: none;
  resize: none;
  border: 2px solid var(--input--border, var(--missing-color-color));
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

textarea.titleless {
  border: 2px solid var(--input--border, var(--missing-color-color));
  border-radius: 5px;
}

.title-container {
  background-color: var(--input--title-bg, var(--missing-color-color));
  padding: 5px;
  border: 2px solid var(--input--border, var(--missing-color-color));
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
  user-select: none;
}

.required {
  color: var(--text--required, var(--missing-color-color));
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle;
}
