{{ID}} {
  border: 2px solid var(--bg-border, var(--missing-color-color));
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: var(--data-color, var(--missing-color-color));
  color: var(--text, var(--missing-color-color));
}

.top-side {
  font-size: 20px;
  font-weight: bold;
}

.center-side {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
}

.bottom-side {
  display: flex;
  justify-content: space-between;  
}

.category-container {
  display: flex;
}

.value.negative {
  color: var(--amount-negative, var(--missing-color-color));
}

.value.positive {
  color: var(--amount-positive, var(--missing-color-color));
}
